.dashboard {
  max-width: 1000px;
  background-color: red;
  padding: 20px;
  margin: 20px auto;
}
.stats {
  display: flex;
  gap : 20px;
}
.stat-card{
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}